/* VARIABLES */
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

$dark: #353535;
$light: #f6f6f6;
$gray: #eaeaea;

$shadow-sm: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
$shadow-md: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$shadow-lg: 0px 4px 15px rgba(0, 0, 0, 0.15);

$radius-lg: 25px;
$radius-card: 15px;

$bp-tablette: 768px;
$bp-desktop: 1024px;

/* MIXINS */
@mixin flex-center($direction: row, $gap: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  @if $gap != null {
    gap: $gap;
  }
}

@mixin tablette {
  @media (min-width: $bp-tablette) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $bp-desktop) {
    @content;
  }
}

/* PLACEHOLDERS */
%btn-base {
  color: white;
  @include flex-center(row);
  border-radius: $radius-lg;
  box-shadow: $shadow-md;
  transition: all 0.3s ease;
  text-decoration: none;
}

/* GLOBALE */
* {
  font-family: "Roboto";
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* HEADER */
.header {
  z-index: 1;
  @include flex-center(row, 42px);
  padding: 20px 0 13px 0;
  flex-shrink: 0;

  &_shadow {
    position: relative;
    box-shadow: $shadow-sm;
  }

  &_logo {
    width: 197px;
    height: 36px;
  }
}

/* LOCATION (bar de recherche)*/
.location {
  @include flex-center(row, 8px);
  padding: 12px 0;
  background-color: $gray;
  font-size: 16px;
  color: $dark;

  i {
    color: $dark;
  }
}

/* EXPLORER */
.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  background-color: $light;
  text-align: center;
  padding: 60px 20px;

  h1 {
    font-size: 28px;
    max-width: 500px;
    margin: 0;
  }

  p {
    max-width: 600px;
    margin: 0;
    font-size: 18px;
    color: #6b6b6b;
  }

  @include tablette {
    padding: 80px 40px;

    h1 {
      font-size: 32px;
    }
  }

  @include desktop {
    padding: 100px 20px;

    h1 {
      font-size: 30px;
    }
  }
}


.btn_explorer {
  @extend %btn-base;
  background: linear-gradient(180deg, $secondary, $primary);
  color: white;
  padding: 15px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: $shadow-lg;
  transition: all 0.3s ease;

  &:hover {
    filter: brightness(1.1);
    transform: translateY(-2px);
  }
}


/* FONCTIONNEMENT */

.fonctionnement {
  margin: 50px 20px;

  h2 {
    margin-bottom: 30px;
  }

  &_filtre {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &_btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: #f7f7f7;
    height: 75px;
    border-radius: 20px;
    box-shadow: $shadow-lg;

    i {
      font-size: 16px;
      color: #7e7e7e;
    }

    p {
      margin: 0;
      font-weight: 500;
    }
  }

  &_number {
    position: absolute;
    left: -12px;
    width: 24px;
    height: 24px;
    background: $primary;
    color: white;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fonct_i {
    color: $primary;
  }

  @include tablette {
    margin: 60px 40px;

    &_filtre {
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
    }

    &_btn {
      flex: 1;
      height: 75px;
    }
  }



  @include desktop {
    max-width: 1200px;
    margin: 80px auto;

    &_filtre {
      flex-direction: row;
      justify-content: space-between;
    }

    &_btn {
      flex: 1;
      max-width: 350px;
    }
  }
}



/* RESTAURANTS */

.restaurants {
  background-color: $light;
  padding: 60px 20px;

  h2 {
    margin-bottom: 40px;
  }

  &_choix {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  @include tablette {
    padding: 60px 40px;

    &_choix {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    h2 {
      margin-left: 0;
    }
 }


  @include desktop {
    padding: 80px 0;

    h2 {
      max-width: 1200px;
      margin: 0 auto 40px auto;
    }

    &_choix {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 70px;
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}


/* CARD */
.card {
  width: 100%;
  position: relative;
  border-radius: $radius-card;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: inherit;
  transition: transform 0.3s ease;

  &_img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;

    @include desktop {
      height: 200px;
    }
  }

  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    &_text {
      h3 {
        font-size: 18px;
        margin: 0;
      }

      p {
        font-size: 17px;
        margin-top: 5px;
        
      }
    }
  }

  &_heart {
    background: none;
    border: none;
    cursor: pointer;

    i {
      font-size: 22px;
      transition: all 0.4s ease;
    }

    &:hover i {
      font-weight: 900;
      background: linear-gradient(180deg, $secondary, $primary);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      transform: scale(1.1);
    }
  }
}

.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: $tertiary;
  color: #008766;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 4px;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background-color: $dark;
  color: white;
  padding: 30px 20px;
  gap: 16px;

  h3 {
    font-family: "Shrikhand";
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 12px;
  }

  a {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  i {
    font-size: 18px;
  }

  @include tablette{
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
    font-size: 12px;

    ul {
      display: flex;
      gap: 20px;
      padding-left: 40px;
      padding-top: 10px;
      align-items: center;
    }
  }

  @include desktop {
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;

    ul {
      display: flex;
      gap: 30px;
      padding-left: 60px;
      padding-top: 15px;
      align-items: center;
    }
  }
}

.footer_logo {
  width: 140px;
  filter: brightness(0) invert(1);

  @include desktop {
    width: 110px;
  }
}

/* LOADER */
.loader {
  position: fixed;
  inset: 0;
  background: linear-gradient(180deg, $primary, $secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: loaderFade 2.5s forwards;

  &_spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid $primary;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
}


/* ANIMATIONS */
@keyframes spin {
  to { 
    transform: rotate(360deg); 
  }
}

@keyframes loaderFade {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}
